[run]
source = .
omit = ./env/*, *__init__.py, *test/*, *tests/*, *model/base_model.py, */seeds/seed_db.py, 
        */utils/jwt.py, */schema/base_schema.py,
        */repository/db_repositories.py, */utils/cli_routes.py,