[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-marshmallow = "==0.14.0"
marshmallow-sqlalchemy = "==0.24.1"
psycopg2-binary = "==2.8.6"
boto3 = "==1.16.61"
requests = "*"
python-dotenv = "*"
Flask = "==1.1.4"
Flask-SQLAlchemy = "==2.4.4"
Flask-Migrate = "==2.5.3"
PyJWT = "==2.0.1"
Flask-Bcrypt = "==0.7.1"
Flask-Seeder = "*"
flask-cors = "*"
html2image = "==2.0.1"
pytest = "*"
pytest-mock = "*"
pycryptodome = "==3.9.8"
pandas = "==1.2.0"
numpy = "==1.17.4"
pytz = "*"
pre-commit = "*"
Flask-Caching = "==1.10.1"
SQLAlchemy = "==1.4.18"
Flask-APScheduler = "==1.12.2"
markupsafe = "==2.0.1"

[dev-packages]
pre-commit = "*"
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
